*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(img/Hinh-anh-background-dep-hoa-tiet-chuyen-nghiep.jpg) ;
    background-position: 100%;

}
form
{
 background-image: url(img/);
}
h1
{
    background-image: url(img/Pastel\ Multicolor\ Textured\ Gradient\ Search\ Instagram\ Post.png);
}
table
{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;

}
